/*#region Main*/
body {
  font-family: Arial, sans-serif;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}
/*#endregion Main*/

/*#region Loader*/
#loader{
    position: relative;
    top: 20px;
    scale: 0.2;
    transform-origin: top;
    border: none;
    z-index: 3;
    transition: opacity 5s;
}
/*#endregion Loader*/

/*#region Open Button*/
.openButton {
    position: fixed;
    top: 10px;    
    font-size: 20px;
    background-color: #111;
    color: white;
    border: none;
    z-index: 1;
    cursor: pointer;
    padding: 10px 15px;
}

.openButton:hover {
    background-color: #444;
}

#leftOpenButton{
    left: 10px;
}

#rightOpenButton{
    right: 10px;
}
/*#endregion Open Button*/

/*#region Side Panels*/
.sidePanel {
    height: 100%;
    position: fixed;
    width: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    color: white;
}

.sidePanel a,
.sidePanel label,
.sidePanel input {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    display: block;
    transition: 0.3s;
}

.sidePanel .closeButton {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: white;
}

#leftSidePanel{
    left: 0;
    top: 0;
}

#rightSidePanel{
    right: 0;
    top: 0;
}

/*#region Input Groups*/
.inputGroup {
    display: flex;
    align-items: center;
    font-size: 12;
}

#gridSizeInput {    
    width: 25px;
}
/*#endregion Side Panels*/
/*#endregion Side Panels*/